html
    body
        h1= "Add a something!"
        form(action="/answer" method="POST")
            p Title:
                input(type="text" name="title" placeholder="" )
                input(type="submit" value="send")